.App {
  font-family: sans-serif;
  text-align: center;
}

/* Grid container */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.background {
  background-image: url("../src/images/background.gif");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-container {
  margin-left: auto;
}

.nav-bar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
}


.nav-container li {
  margin-right: 16px;
}


.nav-container a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
}

.nav-container li a {
  position: relative;
  text-decoration: none;
}

.nav-container li a::before {
  content: "";
  position: absolute;
  bottom: -0.5px;
  left: 50%;
  width: 80%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  }
  
  .nav-container li a:hover::before {
  visibility: visible;
  width: 90%;
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a[data-hover="Home"]::before,
nav a[data-hover="Sobre"]::before,
nav a[data-hover="Contato"]::before {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a[data-hover="Home"]:hover::before,
nav a[data-hover="Sobre"]:hover::before,
nav a[data-hover="Contato"]:hover::before {
  animation: in 0.3s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 50%;
    right: auto;
    transform-origin: left;
  }
  50% {
    left: 0;
    right: auto;
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    width: 100%;
    left: 0;
    right: auto;
    transform-origin: left;
    transform: scaleX(1);
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: 0;
    right: auto;
    transform-origin: right;
  }
  50% {
    width: 100%;
    left: auto;
    right: 0;
    transform-origin: right;
    transform: scaleX(1);
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
      transform-origin: right;
      transform: scaleX(1);
    }
  }
  
  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    100% {
      opacity: 10;
      transform: translateY(-40px);
    }
  }
  
  /* Aplica animação aos links da nav-bar */
  nav a[data-hover="Home"] {
    animation: show .2s 1.1s ease 1 both;
  }
  nav a[data-hover="Sobre"] {
    animation: show .2s 1.2s ease 1 both;
  }
  nav a[data-hover="Contato"] {
    animation: show .2s 1.3s ease 1 both;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;  
  }
  
  nav ul li {
  margin: 0 -15px;
  }
  
  .nav-name {
  font-family: "Migra", sans-serif;
  font-size: 110%;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  }
  
  main {
  padding: 20px;
  }
  
  section {
  margin: 20px 0;
  }
  
  footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  }

  .data-hover {
    float: right;
  }

  .line {
    width: calc(100% - 1px);
    margin-left: 145px;
    margin-top: 50px;
  }

  hr.line {
    width: 100%;
    margin-left: 19px; /* ou qualquer outro valor que desejar */
    margin-right: -166px;
  }
  
  @font-face {
    font-family: 'Monument';
    src: url('PPMonumentExtended-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

  }
  
  h2 {
    font-family: 'Monument', sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: #fff;
  }
.revealUp {
  opacity: 0;
  visibility: hidden;
}
.spacer {
  height: 50vh;
  background-color: #000;
}
