body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  border: none;
  border-bottom: 1px solid #400ebd;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a:hover {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.nav-name {
  font-family: "Migra", sans-serif;
  color: #fff;
  margin-right: 1.6rem;
  margin-left: 1rem;
  font-weight: 800;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
